body {
  padding: 30px;
  background: linear-gradient(135deg, #f0f2f5, #e4e7eb);
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 32px;
}

.controls {
  text-align: center;
  margin-bottom: 30px;
}

button {
  padding: 10px 18px;
  margin: 6px;
  border: none;
  background: #111;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s ease;
  font-weight: 500;
}



.container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center; 
}

.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  text-align: center;
  transition: 0.3s ease;
  width: 230px; 
}



.card img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 16px;
  height: 45px;
  overflow: hidden;
}

.price {
  margin-top: 10px;
  font-size: 18px;
  color: #28a745;
  font-weight: bold;
}